@import '../components/generalStyling.scss';


img {
    width: 60%;
    @media (min-width: 992px) {
    width: 25%;
    }
}

.diagram {
    font-size: 40px;
    color: $white-color;
}

p {
    a {
        color: $black-color;
    }
}

.section4.getInTouch {
    margin-bottom: 50px;

    @media (min-width: $tablet-breakpoint) {
    
    margin-bottom: 30px;
    }
}

hr {
    background-color: $white-color;
    width: 100%;
    text-align: left;
}

.aboutGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @media (min-width: $tablet-breakpoint) {
        flex-direction: row;
        align-items: flex-start;
    }

}

.whoAreWe {
    text-align: left;
}

