@import '../components/generalStyling.scss';

.blueDot {
    color: $blue-color;
    font-size: 50px;
    padding: 5px;
}

.yellowDot {
    color: $yellow-color;
    font-size: 50px;
    padding: 5px;

}

.redDot {
    color: $red-color;
    font-size: 50px;
    padding: 5px;

}

.serviceIntro {
    @media (min-width: 992px) {
    font-size: 20px;
    }
}

.threeSteps {
    @media (min-width: 992px) {
    font-size: 50px;
    margin-bottom: 20px;
    }
}

.point {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 10%;
    text-align: left;
    @media (min-width: 992px) {
        font-size: 25px;
        width: 80%;  
    }

    p {
        width: 80%;
    }
}

.listNumber1 {
    text-align: center;
    font-size: 50px;
    color: $blue-color;
    width: 20%;

    @media (min-width: 992px) {
        font-size: 80px;
    }
}

.listNumber2 {
    

    text-align: center;

    font-size: 50px;
    color: $red-color;
    width: 20%;
    @media (min-width: 992px) {
        font-size: 80px;
    }

}

.listNumber3 {

    text-align: center;
    font-size: 50px;
    color: $yellow-color;
    width: 20%;
    @media (min-width: 992px) {
        font-size: 80px;
    }

}

.serviceLogo {
    width: 40%;
    margin-top: 50px;
    @media (min-width: 700px) {
        width: 25%;
    margin-top: 30px;

    }
}

.clothingList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.vehicleGraphicsBanner {
background-image: url("https://i.imgur.com/JBKUksR.jpg");
background-position: 0 25%;
background-size: cover;
}

.fleetWorkBanner {
    background-image: url("https://i.imgur.com/8GFgzY1.jpg");
background-position: 0 51%;
background-size: cover;
}

.vehicleWrapsBanner {
    background-image: url("https://i.imgur.com/wFBypNn.jpg");
background-position: 0 95%;
background-size: cover;
}

.internalSignageBanner {
    background-image: url("https://i.imgur.com/Q4ToZRW.jpg");
background-position: 0 50%;
background-size: cover;
}