@import './generalStyling.scss';

.navDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  top: 0%;
 
}

.mainNav {
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    
    @media (min-width: 992px) {
        display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 16px;
    width: 100%;
    }
}

.navWidth {
  width: 100%;
  @media (min-width: 992px) {
  width: 50%;
  }
  
  
}
.Navbar {
    padding: 0;
    background-color: $white-color;
    height: 60px;
    width: 100%;
}



.navbar {
  margin-top: -1px;
  // box-shadow: 0px 3px 4px 0px #a9abae;
  .bullet {
      font-size: 30px;
      color: $black-color;
      display: none;
      @media (min-width: 992px) {
        display: flex;
      }
    }
    a {
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: $black-color;
      
      text-decoration: none;
      width: 100%;
      padding: 10px 40px;
      
      @media (min-width: 992px) {
        width: 40%;
        font-size: 20px;
      }

    }
    
    .about {
      color: $black-color2;
    }
  
    .about:hover {
     color: #2d81bd;
      transition-duration: 0.5s;
      @media (min-width: 992px) {
        background-color: $white-color;

      }
    }
  
    .services {
     
      color: $black-color2;
  

  
    }
    .services {
      
      &:hover {
      color: #cc2e8a;
      transition-duration: 0.5s;
    }
  }
    .contact {
      color: $black-color2;
  
  
    }
    .contact:hover {
      color: #fedd43;
      transition-duration: 0.5s;
    }
}

.nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .navbar-toggler {
    margin-right: 15%;
  }

  .mobileNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media (min-width: 992px) {
      width: 20%;
      margin-left: 10%;
    }
  }

  .navLogo {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    @media (min-width: 992px) {


    }
  }

  .navToggle {
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }

  .calsyNav {
    width: 50%;
    margin-left: 10%;
    @media (min-width: $tablet-breakpoint) {
      width: 25%;
    }
    @media (min-width: 992px) {
      width: 120px;
      margin-left: 20%;
    }
  }
 
 


